@media screen and (max-width: 768px)
{
	/* MENU */
	#menu {
		display: none;
	}
	.menuHamb {
		display: block;
	}
	header img {
		margin-right: 10%;
		width: 40%;
	}
	h1 {
		display: block;
		margin-top: -13%;
	}


	/* SLIDER */
	.slider {
		width: 100%;
		max-height: 450px;
	}
	.slideFigure img {
		height: auto;
	}
	.slideText,
	.barBlue1,
	.barBlue2,
	#prev,
	#next {
		display: none;
	}
	

	/* NOS SERVICES */
	#textServices {
		padding: 35px 2% 0 2%;
	}
	#imac img {
		max-width: 85%;
	}


	/* NOS PROJETS */
	label.lienAllworks,
	label.lienCreative, 
	label.lienCorporate, 
	label.lienPortfolio {
		text-transform: uppercase;
	}


	/* CONTACT */
	.formContact {
		position: relative;
		display: flex;
		justify-content: center;
	}
	form {
		background-color: rgba(0,0,0,.3);
		position: relative;
		right: 0;
		margin-top: 10%;
		margin-bottom: 5%;
	}
}